.menu-btn {
    float: right !important;
    margin-right: 20px !important;
}

.nav-title {
    width: 100%;
    position: fixed;
    z-index: 1000;
    /* overflow: hidden; */
    top: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.nav-decoding{
    color: var(--main-txt3-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.204px;
}


/*----------------------------------------------------------Home------------------------------------------------- */

.credo-head {
    font-family: 'Nunito' !important;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: -0.015em;

    color: var(--main-txt3-color);
}

.credo-para {
    width: 80%;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: var(--main-txt2-color);
}

.credo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 70px;
    gap: 10px;
    font-size: 20px;
    width: 302px;
    height: 50px;
    border-radius: 8px;
    color: #ffffff;
    background-color: var(--main-txt-color);
    border: none;
}

.available-head {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.017em;
    margin-top: 50px;
}

.playstore-btn {
    width: 140px;
    height: 58px;
}

.appstore-btn {
    width: 140px;
    height: 46px;
}

.home-back-img {
    margin-top: 40px;
    width: 60%;
    height: 88%;
    position: relative;
    float: right;
}

.home-add-img {
    margin-top: 40px;
    position: absolute;
    width: 80px;
    height: 120px;
}

.home-back-color {
    background-color: (180deg, rgba(255, 255, 255, 0.23) 0%, rgba(245, 242, 242, 0) 111.4%);
    margin-top: 70px;
}


/*-------------------------------------------------------CredoCard--------------------------------------------------*/

.heal-life-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 63px;
    letter-spacing: -0.015em;
    margin-top: 30px;
    color: var(--main-txt3-color);
}

.card-content {
    width: 33%;
}

.card-content-margin {
    margin-top: 50px !important;
}


.card-headline {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.017em;
    color: var(--main-txt3-color);
}

.card-para {
    font-family: 'Inter';
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
    color: var(--main-txt2-color);
}

@media (max-width: 770px) {
    .card-content {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .card-content {
        width: 100%;
    }

    .card-content-margin {
        margin-top: 0px !important;
    }

}


.card-background {
    background: #F2F8FF;
}

.vector-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 9px;
    width: 60px;
    height: 60px;
}

.vector-img {
    width: 245x;
    height: 25px;
}


/*------------------------------------------------------- About------------------------------------------------ */

.Download-head {
    font-weight: 500;
    font-size: 20.4231px;
    line-height: 28px;
    letter-spacing: -0.017em;
    color: var(--main-txt2-color);
}

.about-back-img {
    width: 539px;
    height: 450px;
}

@media (max-width: 450px) {
    .about-back-img {
        margin-top: 30px;
        width: 345px;
        height: 100%;
    }

}


.about-imgback-color {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.39) 0%, rgba(30, 128, 243, 0) 254.67%);
    border-radius: 27px;
}

.about-para {
    font-family: 'Roboto', sans-serif;
    width: 79%;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--main-txt2-color);
}



/* ---------------------------------------------------------Effect-Tool-------------------------------------- */

.effect-tool {
    width: 95%;
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: -0.015em;
}

.effect-background {
    background: radial-gradient(50% 50% at 50% 50%, rgba(33, 219, 40, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
}

.effect-card-para {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
    color: var(--main-txt2-color);
}

.card-1,
.card-2,
.card-3,
.card-4 {
    border-radius: 20px;
}

.vector-card-img {
    width: 28px;
    height: 30px;
}

.vector-icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9F8D7;
    border-radius: 13px;
    width: 60px;
    height: 60px;
}

.vector-icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D7F8EA;
    border-radius: 13px;
    width: 60px;
    height: 60px;
}

.vector-icon3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5D7F8;
    border-radius: 13px;
    width: 60px;
    height: 60px;
}

.vector-icon4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CFF6FF;
    border-radius: 13px;
    width: 60px;
    height: 60px;
}

.effect-card-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-car-header {
    font-weight: 700;
    font-size: 32px;
    text-align: center
}

.img-card-para {
    text-align: center;
    width: 35%;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
    color: var(--main-txt2-color);
}

.img-card-degree {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.015em;
    color: var(--main-txt2-color);
}

.card-img {
    display: flex;
    justify-content: center;
    background: #E7F2FF;
    padding-top: 20px;
    border-radius: 10px;
}

.img-card-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

@media (max-width: 450px) {
    .img-card-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    .img-card-content {
        display: flex;
        flex-direction: column;
    }
}


/*----------------------------------------------------------- Contact---------------------------------------- */


.contact-head {
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.015em;
    color: var(--main-txt3-color);
}

.name-input {
    width: 282px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 14px;
    border: none;
}

.input-full-boxes {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.textarea-full-boxes {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100px;
}

.contact-background {
    background: #E9F3FF;
    padding: 30px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 147px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    background-color: var(--main-txt-color);
    width: 100%;
    height: 54px;
}


@media (max-width: 770px) {
    .contact-head {
        font-weight: 700;
        font-size: 27px;
        line-height: 63px;
        letter-spacing: -0.015em;
        color: var(--main-txt3-color);
    }

    .name-input {
        width: 395px;
        height: 55px;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 14px;
        border: none;
    }

    .input-full-boxes {
        width: 100%;
        height: 55px;
        background: #FFFFFF;
        border-radius: 5px;
        border: none;
    }

    .textarea-full-boxes {
        border-radius: 5px;
        border: none;
        width: 100%;
        height: 120px;
    }
}


@media (max-width: 450px) {
    .img-card-content {
        display: flex;
        flex-direction: column;
    }
}

.contact-blue-background {
    background: var(--main-txt-color);
    padding-left: 45px;
}

.contact-card-para {
    width: 85%;
    color: #ffffff !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 8px;
    color: var(--main-txt2-color);
}

.contact-header {
    color: #ffffff;
    width: 80%;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.contact-image {
    width: 240px;
    Height: 220px;
}



/* -----------------------------------------User-Review----------------------------- */

.use-review {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.review-card1 {
    width: 80%;
    padding: 40px;
    background: #F2F8FF;
    margin-right: 50px;

}

.review-card2 {
    width: 80%;
    padding: 40px;
    background: #F2F8FF;
}

.review-para {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    margin-top: 22px;
    width: 92%;
}

.review-first-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
}

.review-second-header {
    font-weight: 400;
    font-size: 14.8863px;
    line-height: 17px;
    margin-left: 15px;
}

@media (max-width: 450px) {
    .use-review {
        display: block;
        flex-direction: row;
        margin-top: 30px;
    }

    .review-card1 {
        width: 100%;
        margin-top: 20px;
    }

    .review-card2 {
        width: 100%;
        margin-top: 40px;
    }
}


/* ---------------------------------------------------------Menu----------------------------------------- */

.menu-background {
    background-image: url('/public/assets/last-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(233, 243, 255, 1);
    padding: 50px;
}

.menu-back-color {
    background: #FFF;
    padding: 40px;
    border-radius: 40px;
}

.menu-para {
    width: 88%;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.24px;
    color: var(--main-txt2-color);
}

.menu-download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    padding: 15px 40px;
    gap: 10px;
    border-radius: 10px;
    background: var(--main-txt-color);
    border: none;
    color: #ffffff;
}

.copyright-text {
    font-family: 'Inter';
    color: var(--main-txt-color);
    font-size: 16px;
    line-height: 24px;
}

.menu-headers>h6 {
    color: #172230;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 450px) {
    .menu-background {
        padding: 1px;
    }
}